/* FONTS *************************************/

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat2;
  src: url(fonts/Montserrat/Montserrat-Italic.ttf);
}

@font-face {
  font-family: AbrilFatface;
  src: url(fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
/**********************************************/

body{
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
  45deg,
  #f8efff,
  #f8efff 10px,
  #fcf5ff 10px,
  #fcf5ff 20px
);
}

#container{
position: relative;
top: 100px;
width: 500px;
}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  width: 250px;
  height: 250px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  font-family: Montserrat;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, .09);
}

h1 {
  font-family: AbrilFatface;
}

ul {
  position: relative;
  margin: 40px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

li {
  margin: 10px;
}

a{
  font-family: Montserrat2;
  text-decoration: none;
  padding: 15px;
  color: #000000
}

a:hover{
  background: #fcf5ff;
}



#slider {
    overflow: hidden;
}
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
        #slider figure img {
            width: 20%; 
            height: 350px;
            float: left;

        }

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0%;
  }
  25% {
      left: -100%
  }
  45% {
      left: -100%
  }
  50% {
      left: -200%
  }
  70% {
      left: -200%
  }
  75% {
      left: -300%
  }

}
